body {
    background-color: pink;
    color: rgb(62, 65, 66);
    font-family: monospace
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
p {
    text-align: center;
}

#board {
    margin-left: auto;
    margin-right: auto;
    width: 375px;
    height: 375px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}

.square {
    width: 120px;
    height: 120px;
    border: 1px solid rgb(62, 65, 66);
    background-color: palevioletred;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square:hover {
    background-color: rgb(238, 140, 172);
}

#restartButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    width: 150px;
    background-color: palevioletred;
    border: 2px dotted rgb(62, 65, 66);
    border-radius: 40px;
    font-size: 18px;
    color: rgb(62, 65, 66);
    font-family: monospace;
}

#restartButton:hover {
    background-color: rgb(238, 140, 172);
    color: white;
}

.winner {
    position: relative;
    background-color: rgb(62, 65, 66);
    color: rgb(238, 140, 172);
}


