body {
    background-image: url(IMG_1740.jpg);
    background-repeat: repeat;
    color: rgb(62, 65, 66);
    font-family: monospace;
    text-align: center;
    margin-inline: auto;
    width: fit-content;
}

h1 {
    border: 50px solid transparent;
    padding: 15px;
    border-image: url(border.png) 20% round;
    text-decoration: underline;
}

#board {
    margin-left: auto;
    margin-right: auto;
    width: 375px;
    height: 375px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}

.square {
    width: 120px;
    height: 120px;
    border: 2px solid rgb(62, 65, 66);
    background-color: palevioletred;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square:hover {
    opacity: 0.6;
    cursor: pointer;
}

#restartButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    width: 150px;
    background-color: palevioletred;
    border: 2px dotted rgb(62, 65, 66);
    border-radius: 40px;
    font-size: 18px;
    color: rgb(62, 65, 66);
    font-family: monospace;
}

#restartButton:hover {
    background-color: rgb(238, 140, 172);
    color: white;
    cursor: pointer;
}

.winner {
    position: relative;
    background-color: rgb(62, 65, 66);
    color: rgb(238, 140, 172);
    box-shadow: 0 0 10px rgb(62, 65, 66);
}

#input {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 5px;
}

#player1 {
    color: palevioletred;
    background-color: rgb(62, 65, 66);
    text-align: center;
}

#player2 {
    color: palevioletred;
    background-color: rgb(62, 65, 66);
    text-align: center;
}


summary {
    font-weight: bolder ;
}

ul {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    list-style-position: inside;
}

#heading {
    display: none;
}

